@model Core.ViewModels.RegisterViewModel

<div class="row justify-content-center">

    <div class="col-lg-6 col-md-6 col-sm-12">

        <h2>Registration</h2>

        <form asp-action="Register" asp-controller="Accounts" method="post">

            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control input-form" />
                <span class="text-danger" asp-validation-for="@Model.Email" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" class="form-control input-form" />
                <span class="text-danger" asp-validation-for="@Model.Password" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword" class="control-label"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control input-form" />
                <span class="text-danger" asp-validation-for="@Model.ConfirmPassword" />
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-outline-primary" />
                <a asp-action="" asp-controller="Accounts" class="btn btn-outline-info">Sign in</a>
            </div>

        </form>

    </div>

</div>
